@media screen and (min-width: 320px) {
  .auth-button {
    display: block;
    width: 260px;
    height: 45px;
    margin-top: 69px;
    background: #4285f4;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #fff;
    outline: none;
    cursor: pointer;
  }

  .auth-button:hover,
  .auth-button:focus {
    box-shadow: 2px 2px 2px 1px #4285f444;
  }

  .auth-button_disabled {
    background: #4b5566;
    color: #818488;
    cursor: default;
  }

  .auth-button_disabled:hover,
  .auth-button_disabled:focus {
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-button {
    width: 396px;
    font-size: 14px;
    line-height: 17px;
  }
}
