.movies-list-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 300px;
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  color: #ee3465;
}

.movies-list-message__close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
